body {
	margin: 0 auto;
	font-family: sans-serif;
}

#content {
	width: 90%;
	margin: 0 auto;
}

.tab {
	width: 29.5%;
	margin: 0 1.5%;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 15px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
}

.img-pup {
	width: 100%;
	position: relative;
}

img {
	width: 100%;
	border: 5px double lightskyblue;
	box-sizing: border-box;
}

h2 {
	text-align: center;
	background-color: lightskyblue;
	color: white;
}